#email-input-group {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

#mc-email {
    background: #fff;
    font-weight: 300;
    font-size: 22px;
    color: #888d94;
    margin: 0;
    padding: 26px 51px 25px 20px;
    border: 0;
    border-radius: 0px;
    height: 30px;
    max-width: 450px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.btn-submit {
    background: #DC0000;
    color: white;
  padding: 15px 20px 16px 20px;
  border: 0;
  border-radius: 0px;
  font-weight: bold;
}


#form-logo-vector {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#intro {
    font-size: 1.6em;
    font-weight: 300;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

#signup {
  font-size: 1.2em;
  font-weight: 300;
}

#email {
    margin-top: 1em;
  font-size: 1.6em;
  font-weight: 300;
}

@media (min-width: 768px) {
    #intro {
        font-size: 1.8em;
        font-weight: 300;
        margin-top: 1.5em;
        margin-bottom: 2.5em;
    }
}
