@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700|Open+Sans:300italic,400italic,300,700,400);
body {
  overflow-x: hidden;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif; }

.text-muted {
  color: #777; }

.text-primary {
  color: #005D9C; }

p {
  font-size: 14px;
  line-height: 1.75; }

p.large {
  font-size: 16px; }

ul {
  list-style-type: none; }

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
  text-decoration: none; }

a {
  color: #005D9C; }

a:hover,
a:focus,
a:active,
a.active {
  color: #003f69; }

a.page-scroll {
  color: white; }

a.page-scroll:hover,
a.page-scroll:focus,
a.page-scroll:active,
a.page-scroll.active {
  color: #e6e6e6; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", "Open Sans", sans-serif;
  font-weight: 500; }

h1, h3 {
  color: #005D9C;
  text-transform: none; }

h2 {
  color: #005D9C;
  text-transform: uppercase; }

pre {
  word-break: normal; }

.img-centered {
  margin: 0 auto; }

.bg-light-gray {
  background-color: #f7f7f7; }

.bg-darkest-gray {
  background-color: #404040; }

.btn-primary {
  color: white;
  background-color: #005D9C;
  border-color: #005D9C;
  font-family: "Quicksand", "Open Sans", sans-serif;
  font-weight: 700; }
  .btn-primary .badge {
    color: #005D9C;
    background-color: white; }

.btn-xl {
  color: white;
  background-color: #005D9C;
  border-color: #005D9C;
  font-family: "Quicksand", "Open Sans", sans-serif;
  font-weight: 700;
  border-radius: 5px;
  font-size: 18px;
  padding: 20px 40px; }
  .btn-xl .badge {
    color: #005D9C;
    background-color: white; }

.btn-submit {
  color: white;
  background-color: #005D9C;
  border-color: #005D9C;
  font-family: "Quicksand", "Open Sans", sans-serif;
  font-weight: 700;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px 30px; }
  .btn-submit .badge {
    color: #005D9C;
    background-color: white; }

footer .btn-submit {
  font-size: 12px;
  padding: 12px 12px; }

.input-group {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 0px;
  display: inline; }
  .input-group #mc-email-launch {
    height: 55px;
    border-radius: 5px; }
  .input-group #mc-email {
    height: 44px;
    border-radius: 5px; }
  .input-group #mc-submit {
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 0px;
    width: 100%; }

label {
  font-weight: 300;
  color: #777; }

@media(min-width:460px) {
  .input-group {
    display: table; }
    .input-group #mc-submit {
      margin-top: 0px;
      margin-left: 10px; } }
.navbar-default {
  background-color: rgba(64, 64, 64, 0.9);
  border-color: transparent; }
  .navbar-default .navbar-brand {
    padding: 10px;
    color: #005D9C;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, cursive; }
    .navbar-default .navbar-brand img {
      height: 30px; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
      color: #e6e6e6; }
  .navbar-default .navbar-collapse {
    border-color: fade(white, 2%); }
  .navbar-default .navbar-toggle {
    background-color: #005D9C;
    border-color: #005D9C; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: white; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #005D9C; }
  .navbar-default .nav li {
    margin-right: 10px; }
    .navbar-default .nav li a {
      font-family: "Quicksand", "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 1.2em;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: white; }
      .navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
        color: #e6e6e6;
        outline: none; }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: #404040; }
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #e6e6e6;
    background-color: #404040; }

@media(min-width:768px) {
  .navbar-default {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none; }
    .navbar-default .nav li {
      font-size: 1.6em; }
    .navbar-default .navbar-brand {
      height: 60px;
      padding: 0px;
      margin-left: 0px; }
      .navbar-default .navbar-brand img {
        height: 60px; }
    .navbar-default .navbar-nav > .active > a {
      border-radius: 3px; } }
header {
  background-color: #EDEDED;
  background: url("../images/backdrop.jpg") no-repeat;
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: white; }
@media(min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  header {
    background-image: url("../images/backdrop@2x.jpg"); } }
  header .hero-text {
    padding-top: 100px;
    padding-bottom: 50px; }
    header .hero-text .hero-lead-in {
      font-family: "Open Sans", "Helvetica Neue", Helvetica, cursive;
      font-style: italic;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 25px; }
    header .hero-text .hero-heading {
      font-family: "Quicksand", "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 50px;
      margin-bottom: 25px; }
    header .hero-text .hero-exit {
      margin-top: 50px; }
    header .hero-text .ks-badge {
      display: none; }
    header .hero-text .btn-kickstarter {
      font-size: 0.4em; }
    header .hero-text .clock {
      width: 620px;
      height: 116px;
      margin: 0 auto;
      margin-top: 50px; }
    header .hero-text .flip-clock-wrapper {
      text-align: center;
      position: relative; }
    header .hero-text .flip-clock-label {
      font-size: 24px;
      color: #fff;
      display: none; }

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

@media(min-width:768px) {
  header .hero-text {
    padding-top: 200px;
    padding-bottom: 100px; }
    header .hero-text .hero-lead-in {
      font-family: "Open Sans", "Helvetica Neue", Helvetica, cursive;
      font-style: italic;
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 25px; }
    header .hero-text .hero-heading {
      font-family: "Quicksand", "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 75px;
      margin-bottom: 50px; }
    header .hero-text .ks-badge {
      display: inline;
      width: 200px;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 25px;
      top: 125px; }
    header .hero-text .hero-exit {
      margin-top: 50px; } }
@media(max-width:768px) {
  .clock {
    display: none; } }
section {
  padding-top: 50px;
  padding-bottom: 50px; }
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px; }
  section h3.section-subheading {
    max-width: 700px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-family: "Quicksand", "Open Sans", sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px; }
  section .section-text {
    margin-bottom: 75px;
    max-width: 600px;
    text-align: left;
    margin-left: auto;
    margin-right: auto; }
    section .section-text p {
      margin-bottom: 20px;
      font-size: 23px;
      font-family: "Quicksand", "Open Sans", sans-serif;
      text-transform: none;
      font-weight: 400; }
  section ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  section li {
    margin: 1em 0; }

section:first-of-type {
  padding-top: 150px;
  padding-bottom: 50px; }

.launch-day-email p {
  font-size: 18px;
  font-family: "Quicksand", "Open Sans", sans-serif;
  font-weight: 400; }

.point-flat-banner {
  position: relative;
  background-image: url("../images/point+logo+blue.jpg") no-repeat;
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
@media(min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .point-flat-banner {
    background-image: url("../images/point+logo+blue@2x.jpg"); } }
@media(min-width: 768px) {
  .point-flat-banner {
    height: 600px; } }
@media(max-width: 768px) {
  .point-flat-banner {
    height: 300px; } }
.ui-elements {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  height: 1300px; }
  .ui-elements .events {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }
  .ui-elements .timeline {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; }
  .ui-elements .settings {
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
    -webkit-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    transform: translateY(-60%); }
  .ui-elements .choice {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3; }

@media(max-width:1200px) {
  .ui-elements {
    -webkit-flex-flow: column;
    flex-flow: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    height: auto; }
    .ui-elements .events,
    .ui-elements .timeline,
    .ui-elements .settings,
    .ui-elements .choice {
      -webkit-box-ordinal-group: 0;
      -moz-box-ordinal-group: 0;
      -ms-flex-order: 0;
      -webkit-order: 0;
      order: 0;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      max-width: 500px; } }
section .descriptive-text {
  padding-top: 40px;
  padding-bottom: 50px;
  text-align: justify;
  text-justify: inter-word; }
  section .descriptive-text h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    font-family: "Quicksand", "Open Sans", sans-serif;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 30px; }
  section .descriptive-text p {
    font-size: 23px;
    font-weight: 300; }

@media(min-width:1200px) {
  .descriptive-text {
    width: 475px; }

  .ui-screens {
    margin-top: 150px; } }
@media(max-width:768px) {
  .small-img-responsive {
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto; } }
section .point-feature {
  padding: 75px;
  text-align: justify;
  text-justify: inter-word; }
  section .point-feature h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    font-family: "Quicksand", "Open Sans", sans-serif;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 30px; }
  section .point-feature p {
    font-size: 23px;
    font-weight: 300; }
  section .point-feature ul {
    list-style-type: none; }
    section .point-feature ul li {
      font-size: 30px;
      display: inline;
      padding: 0;
      padding-right: 1em; }

@media(max-width:768px) {
  section .point-feature {
    padding: 15px; } }
.point-home-environment {
  position: relative;
  background: url("../images/home_3.jpg") no-repeat;
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px; }
@media(min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .point-home-environment {
    background-image: url("../images/home_3@2x.jpg"); } }
  .point-home-environment .container,
  .point-home-environment .row,
  .point-home-environment .col-lg-12 {
    height: 100%; }
  .point-home-environment .vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

@media(min-width:768px) {
  .point-home-environment {
    margin-top: 150px; } }
.service-heading {
  margin: 15px 0;
  text-transform: none; }

.blog-container {
  max-width: 585px;
  margin-left: auto;
  margin-right: auto; }
  .blog-container img {
    width: 100%; }
  .blog-container .timestamp {
    font-size: 0.8em;
    color: #666; }
  .blog-container .by-author {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: "Quicksand", "Open Sans", sans-serif; }
  .blog-container .signature {
    font-size: 1.4em;
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: "Quicksand", "Open Sans", sans-serif; }
  .blog-container .peripheral {
    font-size: 1em;
    margin-bottom: 10px;
    font-style: italic;
    color: #999; }
  .blog-container .caption {
    font-size: 1em;
    font-style: italic;
    color: #999;
    margin-top: 10px;
    margin-bottom: 30px; }

.timeline {
  list-style: none;
  padding: 0;
  position: relative; }
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px; }
  .timeline > li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px; }
    .timeline > li:before, .timeline > li:after {
      content: " ";
      display: table; }
    .timeline > li:after {
      clear: both; }
    .timeline > li .timeline-panel {
      width: 100%;
      float: right;
      padding: 0 20px 0 100px;
      position: relative;
      text-align: left; }
      .timeline > li .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .timeline > li .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }
    .timeline > li .timeline-image {
      left: 0;
      margin-left: 0;
      width: 80px;
      height: 80px;
      position: absolute;
      z-index: 100;
      background-color: #005D9C;
      color: white;
      border-radius: 100%;
      border: 7px solid #f1f1f1;
      text-align: center; }
      .timeline > li .timeline-image h4 {
        font-size: 10px;
        margin-top: 12px;
        line-height: 14px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      text-align: left;
      padding: 0 20px 0 100px; }
      .timeline > li.timeline-inverted > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; }
      .timeline > li.timeline-inverted > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; }
    .timeline > li:last-child {
      margin-bottom: 0; }
  .timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit; }
    .timeline .timeline-heading h4.subheading {
      text-transform: none; }
  .timeline .timeline-body > p,
  .timeline .timeline-body > ul {
    margin-bottom: 0; }

@media(min-width:768px) {
  .timeline:before {
    left: 50%; }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px; }
    .timeline > li .timeline-panel {
      width: 41%;
      float: left;
      padding: 0 20px 20px 30px;
      text-align: right; }
    .timeline > li .timeline-image {
      width: 100px;
      height: 100px;
      left: 50%;
      margin-left: -50px; }
      .timeline > li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      text-align: left;
      padding: 0 30px 20px 20px; } }
@media(min-width:992px) {
  .timeline > li {
    min-height: 150px; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px; }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px; }
      .timeline > li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px; } }
@media(min-width:1200px) {
  .timeline > li {
    min-height: 170px; }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px; }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px; }
      .timeline > li .timeline-image h4 {
        margin-top: 40px; }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px; } }
.team-member {
  text-align: center;
  margin-bottom: 50px; }
  .team-member img {
    margin: 0 auto;
    border: 7px solid white; }
  .team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none; }
  .team-member p {
    margin-top: 0; }

aside.clients img {
  margin: 50px auto; }

footer {
  padding: 25px 0;
  text-align: center; }
  footer span.copyright {
    line-height: 40px;
    font-family: "Quicksand", "Open Sans", sans-serif;
    text-transform: none; }
  footer ul.quicklinks {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 0;
    line-height: 40px;
    text-transform: none; }
  footer .footer-header {
    text-align: center; }

ul.social-buttons {
  margin-bottom: 20px; }
  ul.social-buttons li a {
    display: block;
    background-color: #404040;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
      background-color: #005D9C; }

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none; }

.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center; }
  .portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em; }
  .portfolio-modal .modal-content p {
    margin-bottom: 30px; }
  .portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, cursive;
    font-style: italic;
    font-size: 16px; }
  .portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0; }
  .portfolio-modal .modal-content img {
    margin-bottom: 30px; }
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer; }
  .portfolio-modal .close-modal:hover {
    opacity: 0.3; }
  .portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #404040;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari and Chrome */
    z-index: 1051; }
    .portfolio-modal .close-modal .lr .rl {
      height: 75px;
      width: 1px;
      background-color: #404040;
      transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      /* Safari and Chrome */
      z-index: 1052; }

.fb-like {
  margin-top: 5px; }

::-moz-selection {
  text-shadow: none;
  background: #f7f7f7; }

::selection {
  text-shadow: none;
  background: #f7f7f7; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  webkit-tap-highlight-color: #f7f7f7; }

.press-photos {
  padding-bottom: 20px; }

.team-photos {
  padding-top: 10px; }
  .team-photos p:first-of-type {
    text-align: center;
    text-transform: uppercase; }
  .team-photos p {
    padding-right: 10px;
    padding-left: 10px; }

/*# sourceMappingURL=agency.css.map */
